<%- include("include/head.ejs") %>
<body>
    <h1>the username is @<%= data.name %></h1>
    <button> follow </button>
    <button> message </button>


    <p>followers : <%= data.followers  %>  &nbsp;&nbsp;&nbsp;&nbsp;
    following: <%= data.following  %></p>
    <hr>
    <% for( let post of data.posts){ %>

        <img src="<%=post.image %>">
        <p>Likes : <%= post.likes  %>  &nbsp;&nbsp;&nbsp;&nbsp;
            comments : <%= post.comments %></p>
   <%  } %>


</body>

<script src="/app.js"></script>

</html>